<html>
   <head>
       <title>Ashwin Kumar Ramaswamy</title>
    <meta charset="8-utf">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="main">
<!--scrolling top-->

<button onclick="topFunction()" id="myBtn" ><i class="fa fa-sort-up"></i></button>
<script>
 //Get the button
var mybutton = document.getElementById("myBtn");
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
  if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

<!--heading-->
<div class="headings"> 
</div> 
<div class="quote">
            <font color="white"><center><h1>" The Sky <font color="yellow"> is</font><font color="burlywood"> not</font><font color="#DCDCDC"> the</font><font color="blue"> limit,</font><font color="gold"> You </font><font color="#7FFF00">are</font><font color="#B0E0E6"> you</font><font color="#EEE8AA"> set</font><font color="#00FF7F"> the</font><font color="#7CFC00"> bar !"</font></h1></center></font></div><div class="image">
            <center><img src="{{ url_for('static',filename='/images/ash.png')}}"></center></div>
           <div class="wrapper"><center>
           <center><h2><font color="red" family="times new roman">Hello there!</font></h2><h1><font color="#FAFAD2">I am Ashwin Kumar R</font></h1></center></div>
           <center> <h1><b><font color="yellow">I Am A</font> <span></span> </b></h1></center>
           <center class="hash"><font color="white"><h1>#Theyoungtech</h1></font></center>
   </center></div>
     
   <!--About section-->
<div class="about">
    <center><font color="#483D8B"><h1><b>ABOUT ME</b></h1></font></center>
    <center><h2><p>I am a young tech undergraduate with a keen interest to explore everything around.<br> My hard work, curiosity and the enthusiasm to learn something new everyday.<br>I give my full soul of work and commitment with my heart to do my work. <br> My hobby is to read more books and deliver my knowledge of experience via blogs.<br>I am skilled at being a good leader for my project work with my teammates.</p></h2></center><br>
<center><font color="Purple"><h1><b>KEY STRENGTHS</b></h1></font></center><br>
<center><font color="maroon"><h1><b>Passion for problem solving</b></h1></font></center>
<center><h2><p>I know that problem solving and good analysis gives a good efficient result.<br>I will be helpful to analyzing the complex problems by dividing by smaller modules of contents<br> both qualitatively and quantitatively,backed up by facts and not only gut.<br>I will give a good complexity results for complex real world problems.<br> By having a good problem solving capability I will do my work accurately and efficiently.</p></h2></center><br>
<center><font color="maroon"><h1><b> Leadership quality</b></h1></font></center>
<center><h2><p>I know that, a good team work can be achieved by having a good quality leader.<br> I am a person having a good leadership quality by playing team works by tactically and efficiently. <br>And I have a good time management skill to carry my work with my team mates very efficiently. </p></h2></center>
<center><font color="maroon"><h1><b>Communication </b></h1></font></center>
<center><h2><p>I know that, a good communication is more useful to achieve many work very efficiently.<br> I am having a good communication quality with experience by participating in more seminars, conferences.<br>I have been seen as a public speaker and a team player facilitating the two-way communication process.<br> This helps me to listen and present my ideas with clarity and right intent throughout the team.  </p></h2></center>
</div>

<!--Education-->

<div class="education">
    <center><h1><font color="maroon">Education</font></h1></center>
    <div class="college">
<center> <p><b>Bachelor of Technology in Information Technology <br> Saveetha Engineering College, Chennai-45 ( 2018 - 2022 )</b><br><br>
      <b>  CGPA: 7.93/10 ( till 4rd Semester)</b></p></center></div>
      <div id="clgactivity">
<center><p><font color="#F08080">Hackathon Coordinator | Campus Ambassador at Infosys| Campus catalyst at UNIQUE Technologies  | Former Campus Ambassador at IIT Techfest| Campus ambassador at ISP 17,18 Programs |<br><br> Campus lead at NANBAN LEARNING CONNECT foundation | Campus Ninja at Coding Ninjas | Former Campus ambassador at IEEE PIT SB |<br><br> Former Campus ambassador at Tryst 2020 Event IIT Delhi| Former Campus lead at Internin | Former Campus ambassador at IEEE PIT SB.
</font></p></center>
</div></div>
                        

<!--Recent Activities section-->
<div class="Highlights">
 <center><h1><b><font color="#4B0082">Highlights</font></b></h1></center>
<div class="xop-section">
<ul class="xop-grid">
           <li>
               <div class="xop-box xop-img-1">
                <a href="#">
                    <div class="xop-info">
                       <center> <h3>Python Workshop</h3></center>
                  </div></a>
            </div>
           </li>
           <li>
               <div class="xop-box xop-img-2">
                <a href="https://drive.google.com/file/d/1Sc-CHBvC3rVrRiEMANG89cTpaW3YvqMr/view?usp=sharing">
                  <div class="xop-info">
                    <h3>Webinar on Cloud Development</h3>
                </div>
                </a>
            </div>
           </li>
           <li>
               <div class="xop-box xop-img-3">
                <a href="#">
                    <div class="xop-info">
                    <h3>UAceIT</h3>
                    </div>
                </a>
            </div>
           </li>
           <li>
               <div class="xop-box xop-img-4">
                <a href="#">
                    <div class="xop-info">
                        <h3>Stack-A-Thon 3.0</h3>
             </a>
            </div>
           </li>
           <li>
               <div class="xop-box xop-img-6">
                <a href="#">
                  <div class="xop-info"><h3>Best Campus Lead</h3>
                </div> </a>
            </div>
           </li>
           <li>
               <div class="xop-box xop-img-5">
                <a href="#">
                   <div class="xop-info">
                    <h3>Skillenza Winner</h3>
                </div></a>
            </div>
           </li>
       </ul> 
   </div>
   <div >
    <center><a href="https://www.linkedin.com/in/ashwinkumarramasamy/" class="github"><h4><font color="white"><div id="text"> VIEW MORE>></div></font></h4></a></center>
</div>
</center></div></div>
</div>

<!--Work Experiences-->

<div class="experience">
    <center><h1>Work Experience</h1></center>
    <div class="timeline">
        <div class="container left">
            <div class="content">
              <h2>Program Manager - Full stack development</h2>
              <p><b>DeserveIn | OCT 2020-PRESENT</b><br>
                Working in Job Recommendation System Project.<br>
                Handling 13 members in my team.<br>
              Sequentially maintaining all the workflow of our team.</p>
            </div>
          </div>
        <div class="container right">
            <div class="content">
              <h2>Campus Event Manager</h2>
              <p><b>Codechef | OCT 2020- PRESENT</b><br>
                Organized webinar on "Importance of Competitive programming" by having 120+ students.<br>
                Conducted Online Coding Contest for all students by having 400+ registrations.</p>
            </div>
          </div>
        <div class="container left">
          <div class="content">
            <h2>Marketer</h2>
            <p><b>Google Ads OMC | DEC 2020-PRESENT</b><br>
                OMC is an opportunity for students to get real-world experience creating and executing online marketing campaigns for real nonprofits using a $10,000 USD monthly budget, supporting digital skill development, and drive positive change around the world.</p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2>Course Instructor</h2>
            <p><b>UAceIT | APR 2020- PRESENT</b><br>
                Published technical course on Data Structures by having 200+ enrolments.<br>
                Published technical course on Cloud Computing and Development by having 320+ enrolments.<br>
                Secured top feedbacks by having 5 stars out of 5.</p>
          </div>
        </div>
        <div class="container left">
          <div class="content">
            <h2>Project Mentor</h2>
            <p><b>The Uplift Project | JUNE-AUG 2020</b><br>
             Successfully completed Result Generation System in MySQL domain within 3 months.<br>
            Successfully collected and organized assignments and practices in leadership domain.</p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2>Intershala Student Partner 17&18</h2>
            <p><b>Internshala | FEB-MAY 2020</b><br>
                Promoted Internshala internships among my peers and assist them with internship-related queries and also helped my peers to learn new skills via Internshala Trainings.Trained my peers to get the internships.<br>
                Conducted many Technical events, Workshops by handling 200+ students from my college.<br>
                Promoted to Internshala Student Partner for 18 th season.</p>
          </div>
        </div>
        <div class="container left">
          <div class="content">
            <h2>Marketing Intern</h2>
            <p><b>Codemire | MAY-JUNE2020</b><br>
                Promoted our brand through social media and maintained good analytics with 70% of CTR and brought 1234% total converrsion rate.</p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2>Content Writing Intern</h2>
            <p><b>Basic Eduventures | APR-MAY 2020</b><br>
        Written 45 technical contents for ConsultingWhiz and Maven cluster software Industries.</p>
          </div>
        </div>
      </div>
      <div >
    <center><a href="https://www.linkedin.com/in/ashwinkumarramasamy/" class="github"><h4><font color="white"><div id="text"> SEE FULL TIMELINE</div></font></h4></a></center>
</div>
</div>

<!--Honors and Awards-->

<div class="honors">
<div class="awards"><center><h1><font color="white">Awards and Activities</font></h1></center></div>
<div class="ashwinimg">
<div class="slideshow-container">
      <div class="mySlides fade">
        <div class="numbertext">1 / 6</div>
        <img src="{{ url_for('static',filename='/images/shasunpp.png')}}" style="width:100%">
        <div class="text">Best Seminar Award at SHASUN Jain College of Arts and Science.<br>
            <p>Participated in Seminar about Youth and social media conducted by Yuva Shakthi Foundation.<br> Presented the real problems faced by youths and how they get salt and sugar by the social media platforms.</p></div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext">2 / 6</div>
        <img src="{{ url_for('static',filename='/images/sih1pp.png')}}" style="width:100%">
        <div class="text">Smart India Hackathon '2020.<br>
            <p>Participated in internal hackathon for Smart India Hacakathon '2020, presented our project work in the domain of "Energy saving and consumption".</p></div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext">3 / 6</div>
        <img src="{{ url_for('static',filename='/images/sih2pp.png')}}" style="width:100%">
        <div class="text">My Team at Smart India Hackathon '2020.<br>
            <p>We are the team "The Young Techz" motivated to develop technical skills by ourselves and uplifting others to develop.</p></div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext">4 / 6</div>
        <img src="{{ url_for('static',filename='/images/kanitamilpp.png')}}" style="width:100%">
        <div class="text">Best Project Award at Xstrom'19.<br>
            <p>Xstrom'19 National level project expo organized by Department of Computer Science at Jeppiaar Institute of Technology.</p></div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext">5 / 6</div>
        <img src="{{ url_for('static',filename='/images/wrkshppp.png')}}" style="width:100%">
        <div class="text">Best Paper Award<br><p>
        Presented a topic of Cloud Development in National level technical symposium "DRESTIEN'19" at Saveetha Engineering College.</p> </div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext">6 / 6</div>
        <img src="{{ url_for('static',filename='/images/tatapp.png')}}" style="width:100%">
        <div class="text">TATA Crusible Quizz<br>
            <p>Participated in the Bussiness Quiz competion organised by TATA industry at Alwarpet, Chennai.</div>
      </div>
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>
    </div>
    <script>
        var slideIndex = 1;
      showSlides(slideIndex);
      function plusSlides(n) {
        showSlides(slideIndex += n);
      }
      function currentSlide(n) {
        showSlides(slideIndex = n);
      }
      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if(n > slides.length) {
          slideIndex = 1
        }
        if(n < 1) {
          slideIndex = slides.length
        }
        for(i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        for(i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
      }
    </script></div></div>

<!--Projects-->

<div class="xop-section3">
    <div class="projects">
        <center><h1><div id="projects" ><font color="white">I've worked on some Tech Projects.</font></h1></center>
        <ul class="xop-grid3">
            <li>
               <div class="xop-box3 xop-imgg-1">
                <a href="https://www.youtube.com/watch?v=BArmz8vtHB8&t=9s">
                    <div class="xop-info3">
                       <center> <h3>AI personal voice Assistant</h3></center>
             </div></a>
            </div>
           </li>
           <li>
               <div class="xop-box3 xop-imgg-2">
                <a href="https://www.youtube.com/watch?v=_kaKUzQTMuY&t=8s">
                  <div class="xop-info3">
                  <h3>Social_Media_Connector</h3>
                    
                </div>
                </a>
            </div>
           </li>
           <li>
               <div class="xop-box3 xop-imgg-3">
                <a href="https://ash515.github.io/Coders-PLOT/">
                    <div class="xop-info3">
                    <h3>Coders PLOT</h3>
                    
                </div>
                </a>
            </div>
           </li>
           <li>
               <div class="xop-box3 xop-imgg-4">
                <a href="#">
                    <div class="xop-info3">
                        <h3>Student management System</h3>
                   </div>
                </a>
            </div>
           </li>
        <li>
               <div class="xop-box3 xop-imgg-5">
                <a href="https://www.youtube.com/watch?v=5YICjO7yEd0&t=8s">
                   <div class="xop-info3">
                    <h3>Patient's Friendly</h3>
                </div></a>
            </div>
           </li>
           <li>
               <div class="xop-box3 xop-imgg-6">
                <a href="https://www.youtube.com/watch?v=COr2zy8PE4Q&t=17s">
                  <div class="xop-info3">  <h3>MedicoRoute</h3>
                    
               </div> </a>
            </div>
           </li>
           <li>
               <div class="xop-box3 xop-imgg-7">
                <a href="https://www.youtube.com/watch?v=aTwMfaLZdUk&t=32s">
                   <div class="xop-info3">
                    <h3>Crime Portal Management System</h3>
                    
                </div></a>
            </div>
           </li>
           <li>
               <div class="xop-box3 xop-imgg-8">
                <a href="https://drive.google.com/file/d/1QH-e1T7F5vhrSOtx8_Ibh47I76qSAx0Z/view?usp=sharing">
                   <div class="xop-info3">
                    <h3>Automated Electric Bill Calculator</h3>
                    
                </div></a>
            </div>
           </li></ul>
           <div>
            <center><a href="https://github.com/Ash515" class="github"><h4><font color="white"><div id="text">VIEW MORE PROJECTS ON GITHUB</div></font></h4></a></center>
        </div></div></div>
</div>

<!--skills-->

<div class="skillfont">
    <div class="skill">
<div class="row">
  <div class="column">
  <h1><center>I've Got Some Skills.</center></h1>
<div class="skill1">

    <p>FRONT END - HTML5, CSS3, JavaScript</p>
<div class="container3">
  <div class="skills sw">100%</div>
</div>

<p>BACK END - Python, NodeJs</p>
<div class="container3">
  <div class="skills web">100%</div>
</div>

<p>FRAME WORKS- ReactJS, Flask, Django, Asp.net.</p>
<div class="container3">
  <div class="skills ml">100%</div>
</div>

<p>DATABASE- MySQL, MongoDB.</p>
<div class="container3">
  <div class="skills db">100%</div>
</div>

<p>DIGITAL MARKETING - SEM, SEO, Content Writing.</p>
<div class="container3">
  <div class="skills dm">100%</div>
</div>

<p>OPERATING SYSTEM- Windows, Linux.</p>
<div class="container3">
  <div class="skills os">95%</div>
</div>

<p>TOOLS - Git, Github, Gsuit, GCP, Docker.</p>
<div class="container3">
  <div class="skills tool">100%</div>
</div>

<p>Time Management and Program Management.</p>
<div class="container3">
  <div class="skills tm">95%</div>
</div>
<p>Public Speaking and Blogging.</p>
<div class="container3">
  <div class="skills blog">95%</div>
</div>
</div></div></div> 
<div >
    <center><a href="https://www.linkedin.com/in/ashwinkumarramasamy/" class="github"><h4><font color="white"><div id="text">VIEW ALL CERTIFICATES</div></font></h4></a></center>
</div></div></div>

<!--journals-->

<div class="journals">
    <center><h1>Journals</h1></center>
 <center> <p><h2>Publication writer at<font color="green"> Devgenius.</font></h2></p></center>
    <center> <p><h2>Technical Writer at <font color="indigo"><b>Note worthy</b> </font>and <font color="orange"><b>Nerd for Tech </b></font>publications.</h2></p></center>
    <center><p><h2><b>Medium Username :</b><font color="indigo">Ashwin Kumar Ramaswamy</center>
    </font></h2></p></center></div>
<div class="xop-scroll">
<ul class="xop-grid1">
           <li>
               <div class="xop-box1">
                <div class="xop-info1">
               <img src="{{ url_for('static',filename='/images/fullstack.png')}}" alt="fullstack">
                    <h3>RoadMap to Full Stack Development.</h3>
                     <p><h2>Publication :<font color="orange">Nerd for Tech</font><br>
                        Hi Amigos ! I hope all are good and safe, If you are a multitasking person, if you have interest to dive in various technologies in computer science. Then this article is for you guys :)</h2></p>
                </div>
           </li>
           <li>
               <div class="xop-box1 ">
                <div class="xop-info1">
                    <img src="{{ url_for('static',filename='/images/dockerr.png')}}" alt="Docker">
                    <h3><font color="black">Containers and Introduction to Docker.</font></h3>
                    <p><h2>Publication :<font color="orange">Nerd for Tech</font><br>
                        Hello Everyone I hope all are safe and good ! Here I'm going to share something about Containers and a famous container tool called Docker.</h2></p>
                     </div>
             </div>
           </li>
           <li>
               <div class="xop-box1 ">
            <div class="xop-info1">
                    <img src="{{ url_for('static',filename='/images/OP.png')}}" alt="Open source">
                    <h3><font color="black">Open Source Contribution.</font></h3>
                    <p><h2>Publication :<font color="green">Dev Genius</font><br>
                        Open source contribution is a worldwide enthusiastic activity for all developers to contribute their ideas and piece of codes to anyone's open source software project. In this method developers (students and professionals) are contributing their codes to another person’s project as a way of developing those projects and their skills.</h2></p>
                </div>
                </div>
           </li>
             <li>
               <div class="xop-box1 ">
                <div class="xop-info1">
                    <img src="{{ url_for('static',filename='/images/ci.png')}}" alt="CICD">
                    <h3><font color="black">Continuos Integration and Deployment, Delivery.</font></h3>
                    <p><h2>Publication :<font color="orange">Nerd for Tech</font><br>
                        Hello Everyone ! I hope all are fine and safe here is one fruitful article for you to taste it now. As finally I am sure that you may get some useful information with new handles.</h2></p>
                </div>
            </div>
           </li>
           <li>
               <div class="xop-box1 ">
              <div class="xop-info1">
                    <img src="{{ url_for('static',filename='/images/cloud.png')}}" alt="Cloud development">
                    <h3><font color="black">Cloud Computing and Its features</font></h3>
                    <p><h2>Publication :<font color="orange">Nerd for Tech</font><br>
                        The technology that delivers totally different services through the web with the assistance of some tools and applications like databases, servers, networking, the package is understood as Cloud computing. Cloud-based mostly storage makes it potential to store knowledge on the remote knowledge bases whereas scrutiny to storing our data in interior storage or memory device.</h2></p>
                    </div><div></li>
                        <li>
                            <div class="xop-box1 ">
                           <div class="xop-info1">
                                 <img src="{{ url_for('static',filename='/images/R.png')}}" alt="R language">
                                 <h3><font color="black">Statistics In Tech - R language.</font></h3>
                                 <p><h2>Publication :<font color="green">Dev Genius.</font><br>
                                    R may be a programming language and free software package atmosphere for applied mathematics computing and graphics supported by the R Foundation for applied mathematics Computing.The R language is wide used among statisticians and knowledge miners for developing applied mathematics software and knowledge analysis.</h2></p>
             </div>
             </div>
             </li>
</ul>
<div >
    <center><a href="https://medium.com/@aaashwin515" class="github"><h4><font color="white"><div id="text">VIEW MORE ON MEDIUM</div></font></h4></a></center>
</div></div>

<!--contact-->

<div class="atlast"><center><h1>Atlast...</h1></center></div>
<div class="contact">
<div class="contact-title">
    <h1>Say  Hello</h1>
    <h2>Keep connect with me, Lets change the world.</h2>
</div>
<div class="contact-form">
    <form id="contact-form" method="post" action="">
<input name="name" type="text" class="form-control" placeholder="Your Name" required>
<br>
<input name="email" type="email" class="form-control" placeholder="Your E-mail" required><br>
<textarea name="message" class="form-control" placeholder="Message" row="4" required></textarea>
<br>
  <input type="submit" class="form-control submit" value="SEND MESSAGE">  
</form>
<center><h2><font color="white">follow me on</font> </h2></center>
<div class="icon-bar">
    <a href="https://www.facebook.com/people/Ashwin-Kumar/100030728764639" class="facebook"><i class="fa fa-facebook"></i></a> 
    <a href="https://twitter.com/RamasamyAshwin" class="twitter"><i class="fa fa-twitter"></i></a> 
    <a href="https://github.com/Ash515" class="github1"><i class="fa fa-github"></i></a> 
    <a href="https://www.linkedin.com/in/ashwinkumarramasamy/" class="linkedin1"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.youtube.com/channel/UCt1znbKazq-n02b68tT6lNA" class="youtube"><i class="fa fa-youtube"></i></a>
    <a href="https://theyoungtech.medium.com/" class="blogging"><i class="fa fa-medium"></i></a> 
  </div>
  <center class="madeby"><h2><font color="white">Made by ❤ Ashwin</font> </h2></center>
</div>
</div>
</body>
</html>
